<div class="container">
    <h2>Eviame un email</h2>
    <div>
        <form action="https://formsubmit.co/dnlbn164@gmail.com" method="POST">
            <div>
                <label for="Nombre">
                    <h4>Nombre</h4>
                </label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="email">
                    <h4>Correo</h4>
                </label>
                <input type="email" name="email">
            </div>
            <div>
                <label for="subject">
                    <h4>Asunto</h4>
                </label>
                <input type="text" name="subject">
            </div>
            <div>
                <label for="comments">
                    <h4>Comentario</h4>
                </label>
                <textarea name ="comments" cols="15" rows="5"></textarea>
            </div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
</div>