<section class="container">
    <h2 class="project-title">Projectos</h2>
    <ul class="list-container">
        <li *ngFor="let project of projects">
            <div class="project-container">
                <a [routerLink]="['/proyecto',project._id]">
                    <h3>{{project.name}}</h3>
                    <img class="image" src="{{url+'get-image/'+project.image}}" *ngIf="project.image" />
                    <div>
                        {{project.category}}
                        {{project.year}}
                        {{project.languages}}
                    </div>
                </a>
            </div>
        </li>
    </ul>
</section>